<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>9025</title>
    <style type="text/css">
      body{
        background:  #0077b3;
      }
    </style>
  </head>
  <body>
    <center><h1>Problem Solve</h1>
    <h1>Md. Rajon Hossain</h1>
    <h1>ID: CSE1603009025</h1>
    </center>
    <form
      id="frmUploader"
      enctype="multipart/form-data"
      action="/upload"
      method="post"
    >
      <input type="file" name="image" multiple />

      <input type="submit" name="submit" id="btnSubmit" value="Upload" />
    </form>
  </body>
</html>
